# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\孔凯传\研究内容及方向\基于用户行为分析的内部威胁检测\小论文6_大模型检测\dmfi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
